@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
@font-face {
  font-family: "Pacifico";
  src: url('/fonts/pacifico.woff2');
  font-weight: 400;
  font-style: normal;
}
.slide{
  animation-name: infiniteSlider;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.item:hover{
  transform: scale(1.1);
  transition: all;
  transition-duration: 1s;
  
  
}
/* // pause when hover on item  */
.slide:hover
{
  animation-play-state: paused;
}
@keyframes infiniteSlider {
  0%{
    transform:translateX(-100%);
  }
  100%{
    transform:translateX(100vw);
  }
}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
